/* General */
body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px; 

  font-family: 'Futura', sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-align: left;
}

p {
  margin-top: 0;

  color: #333;
  font-size: 20px;
  font-weight: 300; 
  line-height: 1.5;
  text-align: left;       
}

/* Sections */
section {
  scroll-margin-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}


/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: flex-end; 

  width: 100%;
  padding: 16px 4px; 

  background-color: #242424; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  
}


.navbar ul {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;
  padding-right: 40px;

  list-style: none;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar ul li a {
  color: white;
  font-size: 22px;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: #1B9E9E;
  transition: color 0.3s;
}

.navbar ul li a:active {
  color: #47D6CD;
}



/* Header */
.header-section {
  position: relative;

  height: 80vh;

  text-align: left;

  overflow: hidden; 
}


.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;


  object-fit: cover;
}

.header-content {
  position: absolute; 
  right: 6%;     
  bottom: 30px;                
  left: 6%;  
  z-index: 1;               
  
  display: flex;
  align-items: flex-end; 
  justify-content: flex-start;      
  gap: 20px;                   
}

.logo {
  position: static;

  width: clamp(280px, 40vw, 600px);
  max-width: 100%;
  margin-top: 0px;
  padding-bottom: 30px;
}


.mission-statement {
  position: static;

  display: flex;
  align-items: center; 

  max-width: clamp(320px, 45vw, 653px);
  margin: 0;
  padding-bottom: 30px;

  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: clamp(16px, 2vw, 24px);
  font-weight: 400;
  line-height: 1.25;
  text-align: left;               
}

/* About Section */
.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between; /* text left, image right */
  gap: 40px;

  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 60px;

  background-color: #f5f5f5;
}

/* Text column */
.about-content {
  max-width: 50%;       /* takes up roughly half the section */

  text-align: left;
}



/* Image column */
.about-image {
  display: flex;
  justify-content: flex-end; /* image aligned to the right */

  max-width: 50%;       /* takes up roughly half the section */
}

.about-image img {
  max-width: 100%;
  height: auto;
}

/* Trim */
.header-trim {
  width: 100%;

  line-height: 0;         /* no extra space */
  overflow: hidden;       /* no scroll */
}

.header-trim img {
  display: block;

  width: 100%;           /* make trim span full width */
  height: auto;
}

/* Submit Section */
.submit-section {
  display: flex;
  justify-content: flex-start; 

  min-height: 600px;    
  padding-top: 0px; 
  padding-bottom: 50px;  
  padding-left: 60px;  
  
  
  background-color: #f5f5f5; /* BRITT CONSIDER: #e0e0e0 for contrast */
}

.submit-content {
  max-width: 700px; 

  text-align: left;
}


.submit-intro {
  font-family: 'Oswald', sans-serif;   
  font-size: 20px;                                  
  line-height: 1.5; 
}


/* Labels */
.submit-content label {
  display: block;

  margin-top: 15px;
  margin-bottom: 0px;

  font-weight: 500;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

/* Inputs and Textarea */
.submit-content input,
.submit-content select,
.submit-content textarea {
  width: 100%;
  padding: 10px 12px;
  box-sizing: border-box;

  border: 1px solid #ccc;
  border-radius: 4px;

  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}

.submit-content .sub-label {
  display: block;

  margin-top: 0px;
  padding-bottom: 5px;

  color: #000000;                  
  font-family: 'Oswald', sans-serif;  
  font-size: 18px;        
  font-weight: 300;       
}

/* File input tweak */
.submit-content input[type="file"] {
  padding: 2px;
}

/* Submit button */
.submit-content button {
  margin-top: 14px;
  padding: 12px 25px;

  background-color: #1B9E9E;
  border: none;
  border-radius: 4px;

  color: #F4EDEA;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;

  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-content button:hover {
  background-color: #47D6CD;
  color: #F4EDEA;
}

.submit-content button:active {
  background-color: #085C6B;
  color: #F4EDEA;
}

/* Instagram Grid */
.follow-section {
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: #f5f5f5;

  font-family: 'Futura', sans-serif;
}

.follow-header h2{
  padding-left: 40px;
}

.follow-content {
  max-width: 1200px;
  margin: 0 auto;

  text-align: center;
}

.instagram-grid {
  display: flex;  
  justify-content: space-evenly; 
  gap: 30px;           
}

.instagram-media {
  flex: 1;  

  min-width: 300px;        
  max-width: 400px;       
  height: 600px;  

  border: none;
  border-radius: 8px; 
  
  overflow: hidden;
}

/* Footer */
.footer-pattern {
  position: relative; 

  height: 100px;                 
  width: 100%;

  background-image: url('/assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;        
  background-position: center;  
}

.footer-content {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 48px; /* spacing from edges */

  inset: 0;
}

/* Privacy Policy link */
.footer-link {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.08em;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

/* Socials */
.footer-icons {
  display: flex;
  align-items: center;
  gap: 26px;
}


.footer-icons a {
  display: block;

  width: 24px;
  height: 24px;
}


.footer-icons img {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: contain;
}

.footer-icons img:hover {
  opacity: 0.8;
}


.footer-icons a.instagram {
  width: 28px;
  height: 28px;
}

.footer-icons a.tiktok {
  width: 40px;
  height: 40px;
}



/* All mobile responsiveness */

@media (max-width: 900px) {
  
  .header-content {
    position: absolute;
    right: 20px;      
    bottom: 10px;            
    left: 20px;
    

    flex-direction: column;  
    align-items: center;
    gap: 16px;
  }
  

  .logo {
    width: clamp(320px, 85vw, 520px);
    max-width: 100%;
    margin-bottom: 10px;
  }

  .mission-statement {
    position: static; 

    width: 98%;
    max-width: 600px;
    margin-bottom: 14px;

    font-size: 1.075rem;
    text-align: left;

    transform: none;
  }

  .header-trim img {
    display: block;

    height: 60px; 

    object-fit: cover; 
  }

  .about-section {
    flex-direction: column;

    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 20px;

    text-align: left;
  }

  .about-content {
    max-width: 100%;

    text-align: left;
  }

  .about-content p {
    font-size: 18px;
  }

  .about-content h2 {
    
    font-size: 26px;
    text-align: left;
    
  }

  .about-image {
    justify-content: center;

    max-width: 100%;
    margin-top: 30px;
  }

  .about-image img {
    width: 100%;
    max-width: 420px; 
    height: auto;
  }

  .follow-section {
    padding: 30px 10px;
  }

  .follow-header h2 {
    max-width: 100%;
    padding-top: 12px;
    padding-left: 10px;

    font-size: 26px;
    text-align: left; 
  }

  .instagram-grid {
    flex-direction: column;
    align-items: center;
    gap: 20px; 
  }

  .instagram-media {
    width: 90%;      
    min-width: unset; 
    max-width: 400px; 
    min-height: 600px;
  }

  .submit-section {
    justify-content: left; 

    min-height: auto;
    padding-top: 30px;
    padding-left: 20px;
  }

  .submit-content {
    max-width: 100%;             
    width: 100%;

    text-align: left;
  }

  .submit-content h2 {
    max-width: 100%;

    font-size: 24.5px;             
    text-align: left;
  }

  .submit-intro {
    margin-top: 0px;

    font-size: 17.5px;
    text-align: left; 
  }

  
  .submit-content input,
  .submit-content select,
  .submit-content textarea {
    font-size: 17px;
    padding-top: 2px;
  }

  .footer-content {
    padding: 0 20px;
  }
  
}







